<!DOCTYPE html>
<html>
  <head>
    <!-- Importação de CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../styles/frame.css">
  </head>
  <body>
    <div class="principalContainer">
      <div class="card shadow-sm rounded">
        <h5 class="card-header">OVERVIEW</h5>
        <div class="card-body">
          <h5 class="card-title">Oá</h5>
          <p class="card-text">Teste teste.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </body>
  <!-- Importação de JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../../scripts/responsiveness/frame.js"></script>
<html>
