<!DOCTYPE html>
<html>
  <head>
    <title>GSDA Automações - Pias : Login</title>
    <!-- Importação de CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/login.css">
  </head>
  <body class="area">
    <!-- Área do background animado -->
    <ul class="circles"><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li></ul>
    <!-- Fim da área do background animado -->
    <div id="loginContainer">
      <!-- Imagem de logo -->
      <img src="../img/mainLogoBlue.svg" id="imgLogo" alt="Logo" width="100%" />
      <!-- Container da RACF -->
      <div id="funcionalContainer" class="input-group mb-2 mt-2">
        <div class="input-group-prepend">
          <span id="funcionalIcon" class="input-group-text justify-content-center"><i class="fa fa-user-circle-o fa-sm"></i></span>
        </div>
        <input type="text" autocomplete="off" id="funcionalInput" class="form-control" placeholder="Funcional" maxlength="9" aria-label="Funcional" aria-describedby="basic-addon1">
      </div>
      <!-- Container da Senha-->
      <div id="passwordContainer" class="input-group mb-3">
        <div class="input-group-prepend">
          <span id="passwordIcon" class="input-group-text justify-content-center"><i class="fa fa-lock fa-sm"></i></span>
        </div>
        <input type="password" id="passwordInput" class="form-control" placeholder="Senha" aria-label="Senha" aria-describedby="basic-addon1">
      </div>
      <!-- Container do Botão Login -->
      <button type=submit id="loginButton" class="btn btn-info mt-3" onclick="requestLogin()">Login</button>
      <div id="loginSpinner" class="spinner-border text-info mt-3" role="status"></div>
    </div>
    <!-- Container da Versão -->
    <div id="versionIdentifier" class="text-muted"></div>
    <!-- Container de Logging-->
    <div id="loginFailedContainer" class="alert alert-danger alert-dismissible fade show">
      <center>##</center>
      <button type="button" class="close" onclick="Login_hideLoginFailedMessage()">&times;</button>
    </div>
</div>
  </body>
  <!-- Importação de JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../scripts/responsiveness/login.js"></script>
  <script src="../scripts/requestLayer.js"></script>
  <script src="../eel.js"></script>
</html>
