<!DOCTYPE html>
<html>
  <head>
    <title>GSDA Automações - Pias</title>
    <!-- Importação de CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/main.css">
    <!-- Importação de fontes -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  </head>
  <body>
    <!-- Container da Sidebar (Nav) -->
    <div class="sidebarContainer">
      <div class="menuContainer">
        <!-- Container do Usuário -->
        <div class="userContainer mb-5">
          <table>
            <tr>
              <th class="styledTab" rowspan="2"></th>
              <th class="ghostTab" rowspan="2"></th>
              <th id="userName">None</th>
            </tr>
            <tr>
              <td id="userRacf">racf</td>
            </tr>
          </table>
        </div>
        <!-- Links -->
        <button id="novoProjetoButton" class="sidebarButton mb-4"
          onclick="clickSidebarButton('novoProjetoButton');redirContent('frames/newProject.html')">
          <i class="fa fa-edit mr-3" width="20px"></i>novo projeto
        </button>
        <button id="seusProjetosButton" class="sidebarButton mb-4"
          onclick="clickSidebarButton('seusProjetosButton');redirContent('frames/userProjects.html')">
          <i class="fa fa-clone mr-3" width="20px"></i>meus projetos
        </button>
        <button id="inventarioButton" class="sidebarButton mb-4"
          onclick="clickSidebarButton('inventarioButton');redirContent('frames/inventory.html')">
          <i class="fa fa-folder-open-o mr-3" width="20px"></i>inventário
        </button>
        <button id="consultasButton" class="sidebarButton mb-4"
          onclick="clickSidebarButton('consultasButton');redirContent('frames/searches.html')">
          <i class="fa fa-search mr-3" width="20px"></i>consultas
        </button>
        <button id="indicadoresButton" class="sidebarButton mb-4"
          onclick="clickSidebarButton('indicadoresButton');redirContent('frames/graphs.html')">
          <i class="fa fa-bar-chart mr-3" width="20px"></i>indicadores
        </button>
        <button id="usuariosButton" class="sidebarButton mb-4"
          onclick="clickSidebarButton('usuariosButton');redirContent('frames/users.html')">
          <i class="fa fa-user-circle-o mr-3" width="20px"></i>usuários
        </button>
      </div>
      <!-- Imagem de logo -->
    </div>
    <!-- Container Principal (Conteúdo) -->
    <div class="contentContainer">
      <iframe src="frames/overview.html" name="contentIframe" frameborder="0"></iframe>
    </div>
  </body>
  <!-- Importação de JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../scripts/responsiveness/main.js"></script>
  <script src="../scripts/requestLayer.js"></script>
  <script src="../eel.js"></script>
<html>
